@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusModel
@{
}
 
<h1>Listado de Buses</h1>
<table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Kilometraje</th>
            <th scope="col">Numero de Asientos</th>
            <th scope="col">Placa</th>
        </tr> 
    @foreach (var bus in Model.Buses)
    {    
        <tr>
            <td>@bus.id</td>
            <td>@bus.marca</td>
            <td>@bus.modelo</td>
            <td>@bus.kilometraje</td>
            <td>@bus.numero_asientos</td>
            <td>@bus.placa</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-busId="@bus.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" href="">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>